#title{
  background-color: #FF1E56;
  color: #fff;
}
/* htmltag */
h1{
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  }
  h2{
    color: #171010;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5

  }
  h3{
    font-family: 'Montserrat', sans-serif;
  }
  p{
    color: #8f8f8f;
  }
  /* class */
  .container-fluid{
    padding: 3% 15%;
  }
/* navigation bar */
.navbar{
  padding: 0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-weight: lighter;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
/* downlaod button */
.downlaod-button{
  margin: 5% 3% 5% 0;
}
/* title image */
.title-image{
width: 60%;
transform: rotate(25deg);
}
 /*feature sectiom */
 #features{
   padding: 7% 15%;
 }
 .feature-box{
   text-align: center;
   padding: 5%;
 }
 .icon{
   color: #ef8172;
   margin-bottom: 1rem;
 }
 .icon:hover{
   color: #ff4c68;
 }
/* testimonialsection */
#testimonials{
  text-align: center;

  background-color: #ef8172;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color:  #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
/* pricing section */
#pricing{
  padding: 100px;
    text-align: center;
}
.pricing-coloumn{
  padding: 3% 2%;
}
/* footer c=section */
#cta{
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
  color: #fff;

}
.cta-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.2
  }
  /* footer section */
  #footer{
    padding: 7% 15%;
    text-align: center;
  }
